.header	{
	text-align: center;
	padding-bottom: 30px;
	border-bottom: 1px solid #eeeeee;
}

.header__avatar	{
	margin: 0; padding: 0;
	margin-bottom: 20px;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-color: white;
	padding: 10px;
	box-shadow: 0px 0px 3px 1px #eeeeee;
}

@media screen and (max-width:1030px)	{
	.header__avatar	{
		width: 100px;
		height: 100px;
		height: auto;
		padding: 10px;
		overflow: hidden;
		margin: auto;
	}	
}

.header__blog-name	{
	margin: 0; padding: 0;
	margin-bottom: 10px;
	font: 700 40px "Source Sans Pro";
}

.header__short-bio	{
	margin: 0; padding: 0;
	margin-bottom: 5px;
	font: 200 20px "Source Sans Pro";
}

.header__author-name	{
	margin: 0; padding: 0;
	margin-bottom: 5px;
	font: 300 22px "Source Sans Pro";
}

.header__social-links	{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 30px;
}

.header__social-link-url	{
	text-decoration: none;
	border: 0;
}

.header__social-link-icon	{
	width:50px;
	height: 50px;
}